/* Set default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* title & sub title */
.title {
  font-size: 38px;
  font-weight: 600;
  color: #141414;
}
.title span {
  color: #028888;
}
.sub-title {
  font-size: 16px;
  color: #292929;
}

/* search button */
.search-btn {
  background-color: #076d6d;
  padding: 8px 40px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: 0.2s;
}
.search-btn:hover {
  background-color: transparent;
  color: #076d6d;
  border: 1px solid #076d6d;
}
.form-control:focus {
  border-color: #076d6d;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

/* alert */
.alert {
  padding: 10px 20px;
}
#alert {
  display: none;
}

/* custom card */
.custom-card {
  text-align: center;
  padding: 26px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  transition: 0.2s;
}
.custom-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.phone-title {
  font-size: 20px;
  font-weight: 600;
  color: #141414;
  margin: 30px 0 8px 0;
}
.phone-text {
  color: #141414;
}

/* detailes button */
.details-btn {
  display: block;
  background-color: #008080;
  padding: 6px 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: 0.2s;
}
.details-btn:hover {
  background-color: #006464;
  color: #fff;
  border: 1px solid #006464;
}

/* spinner */
#spinner {
  display: none;
}

/* modal */
.modal-body p {
  margin: 2px;
  font-size: 14px;
  color: #292929;
}
.modal-phone-title {
  font-size: 22px;
  font-weight: 600;
  color: #141414;
  margin: 30px 0 5px 0;
}
.modal-subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #141414;
  margin: 20px 0 8px 0;
}
.bold-modal-text {
  color: #000;
  font-weight: 500;
}

/* ------------------------------
media query for small devices
------------------------------*/
@media screen and (max-width: 576px) {
  /* title & sub title */
  .title {
    font-size: 26px;
  }
  .sub-title {
    font-size: 12px;
  }
}
