/* Set default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* title & sub title */
.title {
  font-size: 36px;
  font-weight: 600;
  color: #141414;
}
.sub-title {
  font-size: 16px;
  color: #292929;
}

/* search button */
.search-btn {
  background-color: #076d6d;
  padding: 10px 25px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: 0.2s;
}
.search-btn:hover {
  background-color: transparent;
  color: #076d6d;
  border: 1px solid #076d6d;
}
/* .form-control:focus {
  border-color: #6495ed;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} */
/* alert */
.alert {
  padding: 10px 20px;
}
#alert {
  display: none;
}

.custom-card {
  padding: 26px 16px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.phone-title {
  font-size: 20px;
  font-weight: 600;
  color: #141414;
  margin: 20px 0 8px 0;
}
.phone-text {
  color: #141414;
}

.details-btn {
  display: block;
  background-color: #008080;
  padding: 6px 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: 0.2s;
}
.details-btn:hover {
  background-color: #006464;
  color: #fff;
  border: 1px solid #006464;
}
#spinner {
  display: none;
}
.modal-body p {
  margin: 2px;
  font-size: 14px;
  color: #292929;
}
.modal-phone-title {
  font-size: 22px;
  font-weight: 600;
  color: #141414;
  margin: 25px 0 0 0;
}
.modal-subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #141414;
  margin: 20px 0 8px 0;
}
